.error {
    color: red;
  }
  
  input.ng-invalid.ng-touched{
    border: red 1px solid;
  }
  
  input.ng-valid.ng-touched{
    border: green 1px solid;
  }
  
  .botones {
    display: flex;
  }
  
  button {
    margin-right: 10px;
  }