<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/championships">PencaUCU</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!isAdmin">
                <li class="nav-item">
                    <a (click)="buscarCampeonatos()" class="nav-link active" href="#modalParticiparPenca"
                        aria-current="page" data-bs-toggle="modal" data-bs-target="#modalParticiparPenca">Participar en
                        penca</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isAdmin">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Campeonatos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a (click)="limpiarDatos()" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#modalCrearCampeonato">Crear campeonato</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Estadísticas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a (click)="buscarCampeonatos()" class="dropdown-item" href="/menu" data-bs-toggle="modal"
                            data-bs-target="#modalEstadisticas">Ver estadísticas</a></li>
                        </ul>
                    </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/menu" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Equipos
                </a>
                <ul class="dropdown-menu">
                    <li><a (click)="limpiarDatos()" class="dropdown-item" data-bs-toggle="modal"
                        data-bs-target="#modalEquipos">Ingresar equipo</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/menu" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Fases
                </a>
                <ul class="dropdown-menu">
                    <li><a (click)="limpiarDatos()" class="dropdown-item" data-bs-toggle="modal"
                        data-bs-target="#modalCrearFases">Crear fase</a></li>
                        
                        <li><a (click)="buscarFases()" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#modalVerFases">Ver fases</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/menu" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Partidos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a (click)="limpiarDatos()" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#modalCrearPartido">Ingresar</a></li>
                            
                            <li><a (click)="buscarFases()" class="dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#modalVerFases">Ingresar Resultados</a></li>
                            </ul>
                        </li>
                    </ul>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover"
        data-bs-placement="bottom" data-bs-content="Notifiacion 1" data-bs-title="Notificaciones">
        Campanita
    </button>
    
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>



<app-crear-campeonato></app-crear-campeonato>
<app-partido></app-partido>

<!-- Modal Equipos -->

<div class="modal fade" id="modalEquipos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<form class="form" [formGroup]="angForm" novalidate>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ingresar equipo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="descripcion">Nombre: </label>
                        <input type="text" class="form-control" formControlName="equipo" id="equipo1" name="equipo"
                            maxlength="20">
                    </div>
                    <div class="error" *ngIf="angForm.controls['equipo'].invalid && (angForm.controls['equipo'].dirty || 
                    angForm.controls['equipo'].touched)">
                        <div [hidden]="!angForm.controls['equipo'].errors.required">
                            El nombre no puede estar vacío.
                        </div>
                        <div [hidden]="!angForm.controls['equipo'].errors.maxlength">
                            Largo máximo de 20 caracteres.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen: </label>
                        <div class="input-group mb-3">
                            <input (change)="previsualizarImagen()" formControlName="imagen" type="file"
                                class="form-control" id="imagen" name="imagen" accept="image/">
                            <button *ngIf="angForm.controls['imagen'].value" (click)="eliminarImagen()"
                                class="input-group-text">X</button>
                        </div>
                    </div>
                    <!--
                    <div class="form-group" *ngIf="angForm.controls['imagen'].value">
                        <label for="imagen">Preview: </label>
                        <div class="input-group mb-3">
                            <img [src]="imagenCargada" class="rounded float-start" width="200px" height="200px">
                            <p>EQUIPO</p>
                        </div>
                    </div>-->
                    <!--<img *ngIf="angForm.controls['imagen'].value" [src]="imagenCargada" width="200px" height="200px"
                        alt="Image ">-->

                    <div *ngIf="angForm.controls['imagen'].value" class="form-group">
                        <label for="imagen">Preview: </label>
                        <div clas="container mt-5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-center">
                                        <img [src]="imagenCargada" class="img-fluid align-self-start mr-3 imagenEquipo">
                                        <div id="nombreEquipo">
                                            <h1>{{angForm.get('equipo').value|uppercase}}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button (click)="ingresarEquipo()" type="button" [disabled]="angForm.pristine || angForm.invalid"
                        class="btn btn-primary">Ingresar equipo</button>
                </div>
            </div>
        </div>

    </form>
</div>


<!--Modal Crear Fases-->
<div class="modal fade" id="modalCrearFases" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="form" [formGroup]="angFormCrearFase" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear fase</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="descripcion">Nombre: </label>
                        <input type="text" class="form-control" formControlName="nombreFase" id="nombreFase"
                            name="nombreFase" maxlength="20">
                    </div>
                    <div class="error" *ngIf="angFormCrearFase.controls['nombreFase'].invalid && (angFormCrearFase.controls['nombreFase'].dirty || 
                    angFormCrearFase.controls['nombreFase'].touched)">
                        <div [hidden]="!angFormCrearFase.controls['nombreFase'].errors.required">
                            El nombre no puede estar vacío.
                        </div>
                        <div [hidden]="!angFormCrearFase.controls['nombreFase'].errors.maxlength">
                            Largo máximo de 20 caracteres.
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button (click)="crearFase()" type="button"
                        [disabled]="angFormCrearFase.pristine || angFormCrearFase.invalid" class="btn btn-primary">Crear
                        fase</button>
                </div>
            </div>
        </div>

    </form>
</div>

<!--Modal Ver Fases-->
<div class="modal fade" tabindex="-1" id="modalVerFases" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fases</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li *ngIf="Fases.length == 0" class="list-group-item">No hay fases.</li>
                    <li *ngFor="let fase of Fases" class="list-group-item">{{fase.name}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>

<!--Modal participar en penca-->
<div class="modal fade" tabindex="-1" id="modalParticiparPenca" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Participar en penca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form *ngIf="!pencaValida" class="form" [formGroup]="angFormPencaId" novalidate>
                    <div class="form-group">
                        <label for="descripcion">ID Penca: </label>
                        <input type="text" class="form-control" formControlName="idPenca" id="idPenca"
                            name="nombreFase">
                    </div>
                    <div class="error" *ngIf="angFormPencaId.controls['idPenca'].invalid && (angFormPencaId.controls['idPenca'].dirty || 
                    angFormPencaId.controls['idPenca'].touched)">
                        <div [hidden]="!angFormPencaId.controls['idPenca'].errors.required">
                            El ID penca no puede estar vacío.
                        </div>
                        <div [hidden]="!angFormPencaId.controls['idPenca'].errors.notExists">
                            Penca no existe.
                        </div>
                    </div>
                </form>

                <form *ngIf="pencaValida" class="form" [formGroup]="angFormElegirEquipos" novalidate>
                    <div class="form-group">
                        <label>Campeon: </label>
                        <select class="form-select form-control" formControlName="equipoCampeon">
                            <option *ngFor="let equipo of Equipos" [value]="equipo.id">{{equipo.name}}</option>
                        </select>
                    </div>

                    <div class="error" *ngIf="angFormElegirEquipos.controls['equipoCampeon'].invalid && (angFormElegirEquipos.controls['equipoCampeon'].dirty || 
                    angFormElegirEquipos.controls['equipoCampeon'].touched)">
                        <div [hidden]="!angFormElegirEquipos.controls['equipoCampeon'].errors.required">
                            Debe seleccionar un equipo campeon.
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Subcampeon: </label>
                        <select class="form-select form-control" formControlName="equipoSubcampeon"
                            name="equipoSubcampeon">
                            <option *ngFor="let equipo of Equipos" [value]="equipo.id">{{equipo.name}}</option>
                        </select>
                    </div>

                    <div class="error" *ngIf="angFormElegirEquipos.controls['equipoSubcampeon'].invalid && (angFormElegirEquipos.controls['equipoSubcampeon'].dirty || 
                    angFormElegirEquipos.controls['equipoSubcampeon'].touched)">
                        <div [hidden]="!angFormElegirEquipos.controls['equipoSubcampeon'].errors.required">
                            Debe seleccionar un equipo subcampeon.
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <button *ngIf="!pencaValida" (click)="elegirEquipos()" type="button"
                    [disabled]="angFormPencaId.pristine || angFormPencaId.invalid"
                    class="btn btn-primary">Siguiente</button>

                <button *ngIf="pencaValida" (click)="inscribirPenca()" type="button"
                    [disabled]="angFormElegirEquipos.pristine || angFormElegirEquipos.invalid"
                    class="btn btn-primary">Participar en penca</button>
            </div>
        </div>
    </div>

</div>

<!--Modal Ver estadisticas-->
<div class="modal fade modal-dialog-scrollable" id="modalEstadisticas" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="form" [formGroup]="angFormEstadisticas" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Estadísticas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Campeonato: </label>
                        <select class="form-select form-control" formControlName="campeonato">
                            <option *ngFor="let campeonato of Campeonatos" [value]="campeonato.id">{{campeonato.name}}
                            </option>
                        </select>
                    </div>

                    <div class="error" *ngIf="angFormEstadisticas.controls['campeonato'].invalid && (angFormEstadisticas.controls['campeonato'].dirty || 
                    angFormEstadisticas.controls['campeonato'].touched)">
                        <div [hidden]="!angFormEstadisticas.controls['campeonato'].errors.required">
                            Debe seleccionar un campeonato.
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Consulta: </label>
                        <select class="form-select form-control" formControlName="consulta">
                            <option value="aciertos">Aciertos por carrera</option>
                        </select>
                    </div>

                    <table *ngIf="Estadistica" class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let campo of Estadistica[0] | keyvalue" scope="col">{{campo.key}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stat of Estadistica">
                                <td *ngFor="let campo of stat | keyvalue">{{campo.value}}</td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="error" *ngIf="angFormEstadisticas.controls['consulta'].invalid && (angFormEstadisticas.controls['consulta'].dirty || 
                    angFormEstadisticas.controls['consulta'].touched)">
                        <div [hidden]="!angFormEstadisticas.controls['consulta'].errors.required">
                            Debe seleccionar una consulta.
                        </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button" (click)="buscarEstatistica()"
                        [disabled]="angFormEstadisticas.pristine || angFormEstadisticas.invalid"
                        class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>

    </form>
</div>