<nav class="navbar barra navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/championships">PencaUCU</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!isAdmin">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page" data-bs-toggle="modal"
                        data-bs-target="#modalParticiparPenca">Participar en
                        penca</a>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isAdmin">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Campeonatos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/menu">Crear campeonato</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Estadísticas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a (click)="buscarCampeonatos()" class="dropdown-item" href="/menu" data-bs-toggle="modal"
                                data-bs-target="#modalEstadisticas">Ver estadísticas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/menu" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Equipos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a (click)="limpiarDatos()" class="dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#modalEquipos">Ingresar equipo</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/menu" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Fases
                    </a>
                    <ul class="dropdown-menu">
                        <li><a (click)="limpiarDatos()" class="dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#modalCrearFases">Crear fase</a></li>

                        <li><a (click)="buscarFases()" class="dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#modalVerFases">Ver fases</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <button class="button" *ngIf="!isAdmin" (click)="buscarNotificaciones()" data-bs-toggle="modal"
        data-bs-target="#modalNotificaciones">
        <svg viewBox="0 0 448 512" class="bell">
            <path
                d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z">
            </path>
        </svg>
    </button>

    <button class="Btn" (click)="goBack()">

        <div class="sign"><svg viewBox="0 0 512 512">
                <path
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                </path>
            </svg></div>

        <div class="text">Logout</div>
    </button>


</nav>




<!-- Modal Equipos -->

<div class="modal fade" id="modalEquipos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="form" [formGroup]="angForm" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Ingresar Equipo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="descripcion">Nombre: </label>
                        <input type="text" class="form-control" formControlName="equipo" id="equipo1" name="equipo"
                            maxlength="20">
                    </div>
                    <div class="error" *ngIf="angForm.controls['equipo'].invalid && (angForm.controls['equipo'].dirty ||
                    angForm.controls['equipo'].touched)">
                        <div [hidden]="!angForm.controls['equipo'].errors.required">
                            El nombre no puede estar vacío.
                        </div>
                        <div [hidden]="!angForm.controls['equipo'].errors.maxlength">
                            Largo máximo de 20 caracteres.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen: </label>
                        <div class="input-group mb-3">
                            <input (change)="previsualizarImagen()" formControlName="imagen" type="file"
                                class="form-control" id="imagen" name="imagen" accept="image/">
                            <button *ngIf="angForm.controls['imagen'].value" (click)="eliminarImagen()"
                                class="input-group-text">X</button>
                        </div>
                    </div>
                    <div class="error" *ngIf="angForm.controls['imagen'].invalid && (angForm.controls['imagen'].dirty ||
                    angForm.controls['imagen'].touched)">
                        <div [hidden]="!angForm.controls['imagen'].errors.required">
                            Debe ingresar una imagen.
                        </div>
                    </div>
                    <!--
                    <div class="form-group" *ngIf="angForm.controls['imagen'].value">
                        <label for="imagen">Preview: </label>
                        <div class="input-group mb-3">
                            <img [src]="imagenCargada" class="rounded float-start" width="200px" height="200px">
                            <p>EQUIPO</p>
                        </div>
                    </div>-->
                    <!--<img *ngIf="angForm.controls['imagen'].value" [src]="imagenCargada" width="200px" height="200px"
                        alt="Image ">-->

                    <div *ngIf="angForm.controls['imagen'].value" class="form-group">
                        <label for="imagen">Preview: </label>
                        <div clas="container mt-5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-center">
                                        <img [src]="imagenCargada" class="img-fluid align-self-start mr-3 imagenEquipo">
                                        <div id="nombreEquipo">
                                            <h1>{{angForm.get('equipo').value|uppercase}}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button (click)="ingresarEquipo()" type="button" [disabled]="angForm.pristine || angForm.invalid"
                        class="btn btn-primary">Ingresar equipo</button>
                </div>
            </div>
        </div>

    </form>
</div>


<!--Modal Crear Fases-->
<div class="modal fade" id="modalCrearFases" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="form" [formGroup]="angFormCrearFase" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear fase</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="descripcion">Nombre: </label>
                        <input type="text" class="form-control" formControlName="nombreFase" id="nombreFase"
                            name="nombreFase" maxlength="20">
                    </div>
                    <div class="error" *ngIf="angFormCrearFase.controls['nombreFase'].invalid && (angFormCrearFase.controls['nombreFase'].dirty ||
                    angFormCrearFase.controls['nombreFase'].touched)">
                        <div [hidden]="!angFormCrearFase.controls['nombreFase'].errors.required">
                            El nombre no puede estar vacío.
                        </div>
                        <div [hidden]="!angFormCrearFase.controls['nombreFase'].errors.maxlength">
                            Largo máximo de 20 caracteres.
                        </div>
                    </div>

                    <div class="form-check form-group">
                        <input class="form-check-input" type="checkbox" value="" id="faseEliminatoria"
                            formControlName="faseEliminatoria">
                        <label class="form-check-label" for="flexCheckDefault">
                            Fase Eliminatoria
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button (click)="crearFase()" type="button"
                        [disabled]="angFormCrearFase.pristine || angFormCrearFase.invalid" class="btn btn-primary">Crear
                        fase</button>
                </div>
            </div>
        </div>

    </form>
</div>

<!--Modal Ver Fases-->
<div class="modal fade" tabindex="-1" id="modalVerFases" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fases</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li *ngIf="Fases.length == 0" class="list-group-item">No hay fases.</li>
                    <li *ngFor="let fase of Fases" class="list-group-item">{{fase.name}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>

<!--Modal participar en penca-->
<div class="modal fade" tabindex="-1" id="modalParticiparPenca" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Participar en penca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form *ngIf="!pencaValida" class="form" [formGroup]="angFormPencaId" novalidate>
                    <div class="form-group">
                        <label for="descripcion">ID Penca: </label>
                        <input type="text" class="form-control" formControlName="idPenca" id="idPenca"
                            name="nombreFase">
                    </div>
                    <div class="error" *ngIf="angFormPencaId.controls['idPenca'].invalid && (angFormPencaId.controls['idPenca'].dirty ||
                    angFormPencaId.controls['idPenca'].touched)">
                        <div [hidden]="!angFormPencaId.controls['idPenca'].errors.required">
                            El ID penca no puede estar vacío.
                        </div>
                        <div [hidden]="!angFormPencaId.controls['idPenca'].errors.notExists">
                            Penca no existe.
                        </div>
                    </div>
                </form>

                <form *ngIf="pencaValida" class="form" [formGroup]="angFormElegirEquipos" novalidate>
                    <div class="form-group">
                        <label>Campeon: </label>
                        <select class="form-select form-control" formControlName="equipoCampeon">
                            <option *ngFor="let equipo of Equipos" [value]="equipo.id">{{equipo.name}}</option>
                        </select>
                    </div>

                    <div class="error" *ngIf="angFormElegirEquipos.controls['equipoCampeon'].invalid && (angFormElegirEquipos.controls['equipoCampeon'].dirty ||
                    angFormElegirEquipos.controls['equipoCampeon'].touched)">
                        <div [hidden]="!angFormElegirEquipos.controls['equipoCampeon'].errors.required">
                            Debe seleccionar un equipo campeon.
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Subcampeon: </label>
                        <select class="form-select form-control" formControlName="equipoSubcampeon"
                            name="equipoSubcampeon">
                            <option *ngFor="let equipo of Equipos" [value]="equipo.id">{{equipo.name}}</option>
                        </select>
                    </div>

                    <div class="error" *ngIf="angFormElegirEquipos.controls['equipoSubcampeon'].invalid && (angFormElegirEquipos.controls['equipoSubcampeon'].dirty ||
                    angFormElegirEquipos.controls['equipoSubcampeon'].touched)">
                        <div [hidden]="!angFormElegirEquipos.controls['equipoSubcampeon'].errors.required">
                            Debe seleccionar un equipo subcampeon.
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <button *ngIf="!pencaValida" (click)="elegirEquipos()" type="button"
                    [disabled]="angFormPencaId.pristine || angFormPencaId.invalid"
                    class="btn btn-primary">Siguiente</button>

                <button *ngIf="pencaValida" (click)="inscribirPenca()" type="button"
                    [disabled]="angFormElegirEquipos.pristine || angFormElegirEquipos.invalid"
                    class="btn btn-primary">Participar en penca</button>
            </div>
        </div>
    </div>

</div>

<!--Modal Ver estadisticas-->
<div class="modal fade modal-dialog-scrollable" id="modalEstadisticas" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form class="form" [formGroup]="angFormEstadisticas" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Estadísticas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Campeonato: </label>
                        <select class="form-select form-control" formControlName="campeonato">
                            <option *ngFor="let campeonato of Campeonatos" [value]="campeonato.id">{{campeonato.name}}
                            </option>
                        </select>
                    </div>

                    <div class="error" *ngIf="angFormEstadisticas.controls['campeonato'].invalid && (angFormEstadisticas.controls['campeonato'].dirty ||
                    angFormEstadisticas.controls['campeonato'].touched)">
                        <div [hidden]="!angFormEstadisticas.controls['campeonato'].errors.required">
                            Debe seleccionar un campeonato.
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Consulta: </label>
                        <select class="form-select form-control" formControlName="consulta">
                            <option value="aciertos">Aciertos por carrera</option>
                        </select>
                    </div>

                    <table *ngIf="Estadistica" class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let campo of Estadistica[0] | keyvalue" scope="col">{{campo.key}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let stat of Estadistica">
                                <td *ngFor="let campo of stat | keyvalue">{{campo.value}}</td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="error" *ngIf="angFormEstadisticas.controls['consulta'].invalid && (angFormEstadisticas.controls['consulta'].dirty ||
                    angFormEstadisticas.controls['consulta'].touched)">
                        <div [hidden]="!angFormEstadisticas.controls['consulta'].errors.required">
                            Debe seleccionar una consulta.
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button" (click)="buscarEstatistica()"
                        [disabled]="angFormEstadisticas.pristine || angFormEstadisticas.invalid"
                        class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </div>

    </form>
</div>

<!--Modal Notificaciones-->
<div class="modal fade" tabindex="-1" id="modalNotificaciones" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notificaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li *ngIf="Notificaciones.length == 0" class="list-group-item">No hay notificaciones.</li>
                    <li *ngFor="let n of Notificaciones" class="list-group-item">{{n.notification_message}}</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>