<app-menu-principal></app-menu-principal>
<div class=" crear-campeonato">
    <div class="form_campeonato">

        <!-- src/app/form-example/form-example.component.html -->
        <form [formGroup]="form" id="crear-campeonato-inputs" (ngSubmit)="onSubmit()">

            <div class="input-form">
                <label for="name">Nombre</label>
                <input type="text" formControlName="name" id="name"
                    placeholder="Copa Ámerica 2024" [(ngModel)]="nombre">
            </div>
            <div class="input-form">
                <label for="startDate">Fecha Inicio</label>
                <input type="date" id="startDate" formControlName="startDate" [(ngModel)]="fechaInicio"
                    min={{fechaInicioMin}}>
            </div>
            <div class="input-form">
                <label for="endDate">Fecha Fin</label>
                <input type="date"  formControlName="endDate" id="endDate"
                    [(ngModel)]="fechaFin" min={{fechaFinMin}}>
            </div>
            <div class="form-group input-form">
                <label for="description">Descripción</label>
                <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
              </div>

            <!-- Equipos -->
            <div class="input-form">
                <!-- <div class="d-inline-flex gap-1 fila-button"> -->
                <button id="toggle-teams" class="btn btn-primary gap-1 fila-button" type="button" (click)="toogleEquipos()">
                    Desplegar equipos
                </button>
                <!--  </div> -->
                <div class="collapse" id="equipos">
                    <div *ngFor="let team of teams" class="desplegable">
                        <input type="checkbox"  id="team_{{team.id}}" formControlName="team_{{team.id}}">
                        <span><img [src]="team.teamImage" alt="team image"></span>
                        <span>{{team.name}}</span>
                    </div>
                </div>
            </div>

            <!-- Etapas -->
            <div class="input-form">
                <!-- <div class="d-inline-flex gap-1 fila-button"> -->
                <button id="toggle-stages" class="btn btn-primary  gap-1 fila-button" type="button" (click)="toogleEtapas()">
                    Desplegar etapas
                </button>
                <!-- </div> -->
                <div class="collapse" id="etapas">
                    <div *ngFor="let stage of stages" class="desplegable">
                        <input type="checkbox" name="stage" id=stage_{{stage.id}} formControlName="stage_{{stage.id}}"> <span>{{stage.name}}</span>
                    </div>
                </div>
            </div>


           
            <div id="botones">
                <button type="button" class="btn btn-secondary" (click)="volver()">
                    Volver
                </button>
                <button type="submit" class="btn btn-primary">Confirmar </button>
            </div>
        </form>

    </div>
</div>