<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Formulario en Modal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" formControlName="name">
              <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">
                El nombre es obligatorio
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email">
              <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger">
                {{ getEmailErrorMessage() }}
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enviar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalButton">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  