body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../../assets/football-arena-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
}

.title {
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: -0.5px;
  font-size: 7em;
  margin-top: 80px;
  margin-bottom: 20px;
  color: #ffffff;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 0 10px #002bff, 0 0 20px #00c6ff, 0 0 40px #00c6ff, 0 0 80px #00c6ff;
}

.container {
  width: 80%;
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
  padding: 20px;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 20px;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}

.field {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: #171717;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button1,
.button2 {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover,
.button2:hover {
  background-color: black;
  color: white;
}
