<div class="modal fade" id="modalCrearPartido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <!-- Formulario reestructurado con clases y estilos similares al segundo formulario -->
    <form [formGroup]="formPartido" id="crear-campeonato-inputs" (ngSubmit)="onSubmit()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Campeonato</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-group input-form">
                        <label for="championships">Selecciona un campeonato:</label>
                        <select class="form-control" id="championships" formControlName="championship"
                            (change)="onChampionshipSelected()">
                            <option value="-1"></option>
                            <option *ngFor="let champ of Championships" id="champ_{{champ.id}}" value="{{champ.id}}">
                                {{champ.name}} </option>
                        </select>
                    </div>
                    <div class="form-group input-form">
                        <label for="matchDate">Fecha:</label>
                        <input type="date" class="form-control" formControlName="matchDate" id="matchDate"
                            [(ngModel)]="matchDate" [min]="matchDateMin">
                    </div>
                    <div *ngIf="showStagesAndTeams" class="form-group input-form">
                        <label for="stages">Selecciona una etapa:</label>
                        <select class="form-control" id="stages" formControlName="stage">
                            <option value="-1"></option>
                            <option *ngFor="let stage of stages" id="stage_{{stage.id}}" value="{{stage.id}}">
                                {{stage.name}} </option>
                        </select>
                    </div>

                    <div *ngIf="showStagesAndTeams" class="form-group input-form">
                        <label for="teamA">Seleccione el primer equipo</label>
                        <select class="form-control" id="teamA" formControlName="teamA">
                            <option value="-1"></option>
                            <option *ngFor="let team of teams" id="teamA_{{team.id}}" value="{{team.id}}">
                                <span><img [src]="team.teamImage" alt="team image"></span>
                                <span>{{team.name}}</span>
                            </option>
                        </select>
                    </div>

                    <div *ngIf="showStagesAndTeams" class="form-group input-form">
                        <label for="teamB">Seleccione el segundo equipo</label>
                        <select class="form-control" id="teamB" formControlName="teamB">
                            <option *ngFor value="-1"></option>
                            <option *ngFor="let team of teams" id="teamA_{{team.id}}" value="{{team.id}}">
                                <span><img [src]="team.teamImage" alt="team image"></span>
                                <span>{{team.name}}</span>
                            </option>
                        </select>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </form>

</div>