  .image {
    background-image: url('../../assets/view-empty-soccer-stadium-with-fantasy-dreamy-sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
  
    background-image: url('../../assets/view-empty-soccer-stadium-with-fantasy-dreamy-sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: calc(100vh - 56px);
    width: 100%;
    background-size: cover; /* Ajustar tamaño de la imagen de fondo */
    background-attachment: fixed; /* Fijar la imagen de fondo */
    overflow-y: auto; /* Permitir scroll vertical */
  }

  .title{
    text-align: center;
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-shadow: 4px 4px 8px #000000;
  }

  .championships-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: visible;

  }

  .championship-list {
    list-style-type: none;
    padding: 0;
  }

  .championship-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
  }

  .championship-card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.8);
  }

  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
  }

  .floating-button:hover {
    background-color: #0056b3;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
