    .championships-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .championship-list {
    list-style-type: none;
    padding: 0;
  }
  
  .championship-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .championship-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
  }
  
  .floating-button:hover {
    background-color: #0056b3;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }