<div class="championships-container">
    <h2>Listado de Campeonatos</h2>
    <ul class="championship-list">
      <li *ngFor="let championship of championships" (click)="viewDetails(championship.id)">
        <div class="championship-card">
          <h3>{{ championship.name }}</h3>
          <p>{{ championship.description }}</p>
        </div>
      </li>
    </ul>
</div>

<button class="floating-button" click="openModal()">Entrar a nueva penca</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="true" [ngClass]="{'show d-block': showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Pencas disponibles</h1>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>  
        </div>
    </div>
  </div>
</div>